anndata==0.12.6
array-api-compat==1.12.0
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.0
h5py==3.13.0
imageio==2.37.0
joblib==1.5.1
kiwisolver==1.4.8
lazy-loader==0.4
legacy-api-wrap==1.4.1
llvmlite==0.44.0
matplotlib==3.10.6
natsort==8.4.0
networkx==3.5
numba==0.61.2
numpy==2.2.6
optuna==4.6.0
pandas==2.3.2
patsy==1.0.1
pillow==11.3.0
pynndescent==0.5.13
rapids-singlecell==0.13.4
scanpy==1.11.3
scikit-learn==1.7.2
scikit-image==0.24.0
scikit-misc==0.5.2
scipy==1.15.3
seaborn==0.13.2
session-info2==0.2.3
statsmodels==0.14.4
streamlit==1.51.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tqdm==4.67.1
tzdata==2025.2
umap-learn==0.5.9.post2
wget==3.2
deprecated==1.2.18
numcodecs==0.15.1
wrapt==1.17.2
zarr==3.1.5